 body {
     background-color: #fff;
 }

 .container {
     max-width: 500px;
     margin-top: 50px;
     background-color: #fff;
     border-radius: 5px;
     padding: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 h1 {
     color: #333;
     text-align: center;
 }

 table {
     width: 100%;
     border-collapse: collapse;
 }

 th,
 td {
     padding: 8px;
     text-align: left;
 }

 th {
     background-color: #ffff;
 }

 td {
     border-bottom: 1px solid #ddd;
 }

 input[type=text],
 input[type=file] {
     width: 100%;
     padding: 6px;
     box-sizing: border-box;
 }

 button {
     width: 100%;
     background-color: #337ab7;
     color: #fff;
     padding: 10px;
     border: none;
     cursor: pointer;
     border-radius: 5px;
 }

 button:hover {
     background-color: #23527c;
 }

 img {
     max-width: 100%;
     height: auto;
 }